USE [master]
GO
/****** Object:  Database [Obuw11]    Script Date: 25.05.2026 18:12:28 ******/
CREATE DATABASE [Obuw11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Obuw11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Obuw11.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Obuw11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Obuw11_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Obuw11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Obuw11]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EdiniciIzmereniy]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdiniciIzmereniy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazvanie] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EdiniciIzmereniy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorii]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorii](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazvanie] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kategorii] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Polzovateli]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Polzovateli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RolId] [int] NOT NULL,
	[Familiya] [nvarchar](max) NULL,
	[Imya] [nvarchar](max) NULL,
	[Otchestvo] [nvarchar](max) NULL,
	[Login] [nvarchar](max) NULL,
	[Parol] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Polzovateli] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavchiki]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavchiki](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazvanie] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Postavchiki] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvoditeli]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvoditeli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazvanie] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Proizvoditeli] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PunktiVidachi]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PunktiVidachi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Index] [nvarchar](max) NULL,
	[Ulica] [nvarchar](max) NULL,
	[Gorod] [nvarchar](max) NULL,
	[Nomer] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PunktiVidachi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roli]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roli](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazvanie] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roli] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusiZakazov]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusiZakazov](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazvanie] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.StatusiZakazov] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovari]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Artikul] [nvarchar](max) NULL,
	[Naimenovanie] [nvarchar](max) NULL,
	[EdinicaIzmereniyaId] [int] NOT NULL,
	[Cena] [decimal](18, 2) NOT NULL,
	[PostavchikId] [int] NOT NULL,
	[ProizvoditelId] [int] NOT NULL,
	[KategoriyaId] [int] NOT NULL,
	[Skidka] [int] NOT NULL,
	[Kolichestvo] [int] NOT NULL,
	[Opisanie] [nvarchar](max) NULL,
	[Foto] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tovari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakazi]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakazi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DataZakaza] [datetime] NOT NULL,
	[DataVidachi] [datetime] NULL,
	[PunktVidachiId] [int] NOT NULL,
	[PolzovatelId] [int] NOT NULL,
	[KodPolucheniya] [int] NOT NULL,
	[StatusZakazaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Zakazi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZakaziTovarov]    Script Date: 25.05.2026 18:12:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZakaziTovarov](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZakazId] [int] NOT NULL,
	[TovarId] [int] NOT NULL,
	[Kolichestvo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ZakaziTovarov] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EdiniciIzmereniy] ON 

INSERT [dbo].[EdiniciIzmereniy] ([Id], [Nazvanie]) VALUES (1, N'шт.
')
SET IDENTITY_INSERT [dbo].[EdiniciIzmereniy] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategorii] ON 

INSERT [dbo].[Kategorii] ([Id], [Nazvanie]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Kategorii] ([Id], [Nazvanie]) VALUES (2, N'Мужская обувь')
SET IDENTITY_INSERT [dbo].[Kategorii] OFF
GO
SET IDENTITY_INSERT [dbo].[Polzovateli] ON 

INSERT [dbo].[Polzovateli] ([Id], [RolId], [Familiya], [Imya], [Otchestvo], [Login], [Parol]) VALUES (1, 1, N'Никифорова', N'Весения', N'Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Polzovateli] ([Id], [RolId], [Familiya], [Imya], [Otchestvo], [Login], [Parol]) VALUES (2, 1, N'Сазонов', N'Руслан', N'Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Polzovateli] ([Id], [RolId], [Familiya], [Imya], [Otchestvo], [Login], [Parol]) VALUES (3, 1, N'Одинцов', N'Серафим', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[Polzovateli] OFF
GO
SET IDENTITY_INSERT [dbo].[Postavchiki] ON 

INSERT [dbo].[Postavchiki] ([Id], [Nazvanie]) VALUES (1, N'Kari')
INSERT [dbo].[Postavchiki] ([Id], [Nazvanie]) VALUES (2, N'Обувь для вас')
SET IDENTITY_INSERT [dbo].[Postavchiki] OFF
GO
SET IDENTITY_INSERT [dbo].[Proizvoditeli] ON 

INSERT [dbo].[Proizvoditeli] ([Id], [Nazvanie]) VALUES (1, N'Kari')
INSERT [dbo].[Proizvoditeli] ([Id], [Nazvanie]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Proizvoditeli] ([Id], [Nazvanie]) VALUES (3, N'Рос')
SET IDENTITY_INSERT [dbo].[Proizvoditeli] OFF
GO
SET IDENTITY_INSERT [dbo].[PunktiVidachi] ON 

INSERT [dbo].[PunktiVidachi] ([Id], [Index], [Ulica], [Gorod], [Nomer]) VALUES (1, N'420151', N'г.Лесной', N'ул.Вишневая', N'32')
INSERT [dbo].[PunktiVidachi] ([Id], [Index], [Ulica], [Gorod], [Nomer]) VALUES (2, N'125061', N'г.Лесной', N'ул.Подгорная', N'8')
INSERT [dbo].[PunktiVidachi] ([Id], [Index], [Ulica], [Gorod], [Nomer]) VALUES (3, N'630370', N'г.Лесной', N'ул.Шоссейная', N'24')
SET IDENTITY_INSERT [dbo].[PunktiVidachi] OFF
GO
SET IDENTITY_INSERT [dbo].[Roli] ON 

INSERT [dbo].[Roli] ([Id], [Nazvanie]) VALUES (1, N'Администратор')
INSERT [dbo].[Roli] ([Id], [Nazvanie]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roli] ([Id], [Nazvanie]) VALUES (3, N'Авторизированный клиент')
SET IDENTITY_INSERT [dbo].[Roli] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusiZakazov] ON 

INSERT [dbo].[StatusiZakazov] ([Id], [Nazvanie]) VALUES (1, N'Завершен')
INSERT [dbo].[StatusiZakazov] ([Id], [Nazvanie]) VALUES (2, N'Новый ')
SET IDENTITY_INSERT [dbo].[StatusiZakazov] OFF
GO
SET IDENTITY_INSERT [dbo].[Tovari] ON 

INSERT [dbo].[Tovari] ([Id], [Artikul], [Naimenovanie], [EdinicaIzmereniyaId], [Cena], [PostavchikId], [ProizvoditelId], [KategoriyaId], [Skidka], [Kolichestvo], [Opisanie], [Foto]) VALUES (1, N'А112Т4', N'Ботинки', 1, CAST(4285.07 AS Decimal(18, 2)), 1, 1, 1, 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Tovari] ([Id], [Artikul], [Naimenovanie], [EdinicaIzmereniyaId], [Cena], [PostavchikId], [ProizvoditelId], [KategoriyaId], [Skidka], [Kolichestvo], [Opisanie], [Foto]) VALUES (2, N'F635R4', N'Ботинки', 1, CAST(2932.30 AS Decimal(18, 2)), 2, 2, 1, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Tovari] ([Id], [Artikul], [Naimenovanie], [EdinicaIzmereniyaId], [Cena], [PostavchikId], [ProizvoditelId], [KategoriyaId], [Skidka], [Kolichestvo], [Opisanie], [Foto]) VALUES (3, N'H782T5', N'Туфли', 1, CAST(3668.34 AS Decimal(18, 2)), 1, 1, 2, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Tovari] OFF
GO
SET IDENTITY_INSERT [dbo].[Zakazi] ON 

INSERT [dbo].[Zakazi] ([Id], [DataZakaza], [DataVidachi], [PunktVidachiId], [PolzovatelId], [KodPolucheniya], [StatusZakazaId]) VALUES (1, CAST(N'2025-02-27T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), 1, 4, 901, 1)
INSERT [dbo].[Zakazi] ([Id], [DataZakaza], [DataVidachi], [PunktVidachiId], [PolzovatelId], [KodPolucheniya], [StatusZakazaId]) VALUES (2, CAST(N'2022-09-28T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 11, 1, 902, 1)
INSERT [dbo].[Zakazi] ([Id], [DataZakaza], [DataVidachi], [PunktVidachiId], [PolzovatelId], [KodPolucheniya], [StatusZakazaId]) VALUES (3, CAST(N'2025-03-21T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, 2, 903, 1)
SET IDENTITY_INSERT [dbo].[Zakazi] OFF
GO
SET IDENTITY_INSERT [dbo].[ZakaziTovarov] ON 

INSERT [dbo].[ZakaziTovarov] ([Id], [ZakazId], [TovarId], [Kolichestvo]) VALUES (1, 1, 1, 2)
INSERT [dbo].[ZakaziTovarov] ([Id], [ZakazId], [TovarId], [Kolichestvo]) VALUES (2, 2, 3, 1)
INSERT [dbo].[ZakaziTovarov] ([Id], [ZakazId], [TovarId], [Kolichestvo]) VALUES (3, 3, 5, 10)
SET IDENTITY_INSERT [dbo].[ZakaziTovarov] OFF
GO
/****** Object:  Index [IX_RolId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_RolId] ON [dbo].[Polzovateli]
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EdinicaIzmereniyaId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_EdinicaIzmereniyaId] ON [dbo].[Tovari]
(
	[EdinicaIzmereniyaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_KategoriyaId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriyaId] ON [dbo].[Tovari]
(
	[KategoriyaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostavchikId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_PostavchikId] ON [dbo].[Tovari]
(
	[PostavchikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProizvoditelId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_ProizvoditelId] ON [dbo].[Tovari]
(
	[ProizvoditelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolzovatelId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_PolzovatelId] ON [dbo].[Zakazi]
(
	[PolzovatelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PunktVidachiId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_PunktVidachiId] ON [dbo].[Zakazi]
(
	[PunktVidachiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusZakazaId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_StatusZakazaId] ON [dbo].[Zakazi]
(
	[StatusZakazaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TovarId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_TovarId] ON [dbo].[ZakaziTovarov]
(
	[TovarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ZakazId]    Script Date: 25.05.2026 18:12:28 ******/
CREATE NONCLUSTERED INDEX [IX_ZakazId] ON [dbo].[ZakaziTovarov]
(
	[ZakazId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Polzovateli]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Polzovateli_dbo.Roli_RolId] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roli] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Polzovateli] CHECK CONSTRAINT [FK_dbo.Polzovateli_dbo.Roli_RolId]
GO
ALTER TABLE [dbo].[Tovari]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tovari_dbo.EdiniciIzmereniy_EdinicaIzmereniyaId] FOREIGN KEY([EdinicaIzmereniyaId])
REFERENCES [dbo].[EdiniciIzmereniy] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tovari] CHECK CONSTRAINT [FK_dbo.Tovari_dbo.EdiniciIzmereniy_EdinicaIzmereniyaId]
GO
ALTER TABLE [dbo].[Tovari]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tovari_dbo.Kategorii_KategoriyaId] FOREIGN KEY([KategoriyaId])
REFERENCES [dbo].[Kategorii] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tovari] CHECK CONSTRAINT [FK_dbo.Tovari_dbo.Kategorii_KategoriyaId]
GO
ALTER TABLE [dbo].[Tovari]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tovari_dbo.Postavchiki_PostavchikId] FOREIGN KEY([PostavchikId])
REFERENCES [dbo].[Postavchiki] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tovari] CHECK CONSTRAINT [FK_dbo.Tovari_dbo.Postavchiki_PostavchikId]
GO
ALTER TABLE [dbo].[Tovari]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tovari_dbo.Proizvoditeli_ProizvoditelId] FOREIGN KEY([ProizvoditelId])
REFERENCES [dbo].[Proizvoditeli] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tovari] CHECK CONSTRAINT [FK_dbo.Tovari_dbo.Proizvoditeli_ProizvoditelId]
GO
ALTER TABLE [dbo].[Zakazi]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Zakazi_dbo.Polzovateli_PolzovatelId] FOREIGN KEY([PolzovatelId])
REFERENCES [dbo].[Polzovateli] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zakazi] CHECK CONSTRAINT [FK_dbo.Zakazi_dbo.Polzovateli_PolzovatelId]
GO
ALTER TABLE [dbo].[Zakazi]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Zakazi_dbo.PunktiVidachi_PunktVidachiId] FOREIGN KEY([PunktVidachiId])
REFERENCES [dbo].[PunktiVidachi] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zakazi] CHECK CONSTRAINT [FK_dbo.Zakazi_dbo.PunktiVidachi_PunktVidachiId]
GO
ALTER TABLE [dbo].[Zakazi]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Zakazi_dbo.StatusiZakazov_StatusZakazaId] FOREIGN KEY([StatusZakazaId])
REFERENCES [dbo].[StatusiZakazov] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zakazi] CHECK CONSTRAINT [FK_dbo.Zakazi_dbo.StatusiZakazov_StatusZakazaId]
GO
ALTER TABLE [dbo].[ZakaziTovarov]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ZakaziTovarov_dbo.Tovari_TovarId] FOREIGN KEY([TovarId])
REFERENCES [dbo].[Tovari] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZakaziTovarov] CHECK CONSTRAINT [FK_dbo.ZakaziTovarov_dbo.Tovari_TovarId]
GO
ALTER TABLE [dbo].[ZakaziTovarov]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ZakaziTovarov_dbo.Zakazi_ZakazId] FOREIGN KEY([ZakazId])
REFERENCES [dbo].[Zakazi] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZakaziTovarov] CHECK CONSTRAINT [FK_dbo.ZakaziTovarov_dbo.Zakazi_ZakazId]
GO
USE [master]
GO
